/G61/ExpressJS/app-adm-contactos/backend
/G61/mern-ecommerce/backend/node_modules

/G69/ejemplo express/app-admin-contactos/backend/node_modules
/G69/mern-ecommerce/backend/node_modules

/G70/app-ecommerce/backend/node_modules