.listado {
    display: grid;
    gap: 4rem
}

@media (min-width: 768px) {
    .listado {
        grid-template-columns: repeat(2, 1fr);
    }   
}

@media (min-width: 992px) {
    .listado {
        grid-template-columns: repeat(3, 1fr);
    }   
}